/* Imported fonts etc*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap');


*, *::before, *::after {
    box-sizing: border-box
}


/* structure and fonts etc */

body {
    background-color: #1e6346;
    font-family: 'Raleway', sans-serif;
}



h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}

/* structual styling for question/answer div*/

.container-div {
    display: flex;
    width: 80%;
    height: 800px;
    margin: auto;
    justify-content: center;
   
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 0 15px 3px;     
    background-color: whitesmoke;
}

/* styling for buttons and button container */
/* #question { */
 align-self: center;
 display:
/* } */

.btn-div {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10%;
    margin-bottom: 20px;
    margin-top: 40%;
    position: relative;
}

.btn1, .btn2, .btn3, .btn4 {
    margin: 5%;
    padding-left: 200px ;
    padding-right: 200px;
    
} 

